.offer-triple-slider {
  padding: 2px;
}

.offer-triple-slider .swiper-slide {
  transition: all 0.4s ease;
  transform: scale(0.881);
}

.offer-triple-slider .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
  z-index: 10;
  width: 1142px !important;
  border-radius: 10px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.21); */
}

.offer-triple-slider .swiper-button-prev,
.offer-triple-slider .swiper-button-next {
  width: 54px;
  height: 54px;
  background: black;
  opacity: 60%;
  border-radius: 50%;
  color: white;
  /* arrow color */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  padding: 15px;
  cursor: pointer;
}


/* Change arrow size */
.offer-triple-slider .swiper-button-prev::after,
.offer-triple-slider .swiper-button-next::after {
  display: none;

}

.offer-triple-slider .swiper-button-prev {
  width: 52px;
  height: 52px;
  background: url("../../../../assets/HomeSliderImages/left.svg") center / 24px 24px no-repeat;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.offer-triple-slider .swiper-button-next {
  width: 52px;
  height: 52px;
  background: url("../../../../assets/HomeSliderImages/right.svg") center / 24px 24px no-repeat;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .offer-triple-slider .swiper-slide-active {
    width: 70% !important;
  }

  /* .offer-triple-slider .swiper-button-prev,
  .offer-triple-slider .swiper-button-next {
    display: none;
  } */




}

@media screen and (max-width: 1023px) {

  .offer-triple-slider .swiper-slide-active {
    width: 70% !important;
  }

  .offer-triple-slider .swiper-button-prev,
  .offer-triple-slider .swiper-button-next {
    display: none;
  }

  .offer-triple-slider {
    padding-right: 18px;
    padding-left: 18px;
  }

}

@media screen and (max-width: 1399px) {
  .offer-triple-slider {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1440px) {

  .offer-triple-slider .swiper-button-prev,
  .offer-triple-slider .swiper-button-next {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .offer-triple-slider {
    margin-right: 50px;
    margin-left: 50px;
  }

}


@media screen and (max-width: 1450px) {

  .offer-triple-slider .swiper-slide-active {
    width: 100% !important;
  }

  /* .offer-triple-slider .swiper-button-prev,
  .offer-triple-slider .swiper-button-next {
    display: none;
  } */



}

.offer-triple-slider .swiper-button-prev.swiper-button-disabled,
.offer-triple-slider .swiper-button-next.swiper-button-disabled {

  display: none;
}


@media screen and (min-width: 1023px) {
  .offer-triple-slider {
    padding-right: 17px;
    padding-left: 17px;
  }
}


@media screen and (min-width: 1258px) {
  .offer-triple-slider {
    padding-right: 55px;
    padding-left: 55px;
  }
}


@media screen and (min-width: 1440px) {
  .offer-triple-slider {
    padding-right: 0;
    padding-left: 0;
  }
}