@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

:root {
  --light-gray: #F0F0F0;
  --light-gray-1: #F9FAFF;
  --mid-gray: #565656;
  --mid-dark-gray: #646464;
  --dark-gray: #848484;
  --dark-blue: #00398F;
  --light-black: #272727;
  --green: #0A8200;
  --dark-green: #1A4242;
  --dark-cyan: #27363B;
  --font-baskerville: 'Libre Baskerville', serif;
}

@theme inline {
  --color-light-gray: var(--light-gray);
  --color-light-gray-1: var(--light-gray-1);
  --colot-mid-gray: var(--mid-gray);
  --color-mid-dark-gray: var(--mid-dark-gray);
  --color-dark-blue: var(--dark-blue);
  --color-dark-gray: var(--dark-gray);
  --color-light-black: var(--light-black);
  --color-green: var(--green);
  --color-dark-green: var(--dark-green);
  --color-dark-cyan: var(--dark-cyan);
}

body {
  font-family: var(--font-baskerville)
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.trending-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}