@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

:root {
  --light-gray: #F0F0F0;
  --light-gray-1: #F9FAFF;
  --light-gray-2: #E1E2E7;
  --light-gray-3: #F9FAFF;
  --light-gray-4: #e9ebf0;
  --light-gray-5: #CACACA;
  --mid-gray: #565656;
  --mid-dark-gray: #646464;
  --dark-gray: #848484;
  --footer-input: #ABABAB;
  --size-chart: #BABABA;
  --mid-gray-1: #6D6D6D;
  --mid-gray-2: #636363;
  --mid-gray-3: #939393;
  --mid-gray-4: #898989;
  --light-blue-dark: #223263;
  --dark-blue: #00398F;
  --dark-button-blue: #002482;
  --light-black: #272727;
  --light-black-1: #323232;
  --light-black-2: #181725;
  --green: #0A8200;
  --dark-green: #1A4242;
  --dark-cyan: #27363B;
  --dark-footer: #00071B;
  --font-baskerville: 'Libre Baskerville', serif;
  --font-sf: 'SF Pro Display', system-ui, sans-serif;
  --small-mobile: 375px;
  --green-off: #0EB000;
  --product-green: #299E00;
  --light-purple: #5C61F4;
  /* Clothes Colors */
  --cream: #FFCFB5;
  --cyan: #96F9FF;
  --pinkish: #FEC8FF;
  --grayish: #F5F5F5;
  --yellowish: #FEFFC1;
  /* Clothes Colors */
  --dark-white: #EAEAEA;
  --light-blue: #EBF0FF;
  --light-blue-1: #9098B1;
}

@theme inline {
  --color-light-gray: var(--light-gray);
  --color-light-gray-1: var(--light-gray-1);
  --colot-mid-gray: var(--mid-gray);
  --color-mid-dark-gray: var(--mid-dark-gray);
  --color-dark-blue: var(--dark-blue);
  --color-dark-gray: var(--dark-gray);
  --color-light-black: var(--light-black);
  --color-light-black-1: var(--light-black-1);
  --color-light-black-2: var(--light-black-2);
  --color-green: var(--green);
  --color-dark-green: var(--dark-green);
  --color-dark-cyan: var(--dark-cyan);
  --color-dark-footer: var(--dark-footer);
  --color-footer-input: var(--footer-input);
  --breakpoint-tiny: 23.4375rem;
  --color-green-off: var(--green-off);
  --color-dark-button-blue: var(--dark-button-blue);
  --color-light-gray-2: var(--light-gray-2);
  --color-light-blue: var(--light-blue);
  --color-light-black-1: var(--light-black-1);
  --color-light-purple: var(--light-purple);
  --color-product-green: var(--product-green);
  --color-size-chart: var(--size-chart);
  --color-cream: var(--cream);
  --color-cyan: var(--cyan);
  --color-pinkish: var(--pinkish);
  --color-grayish: var(--grayish);
  --color-yellowish: var(--yellowish);
  --color-light-gray-3: var(--light-gray-3);
  --color-dark-white: var(--dark-white);
  --color-light-blue: var(--light-blue);
  --color-light-blue-1: var(--light-blue-1);
  --color-mid-gray-1: var(--mid-gray-1);
  --color-mid-gray-2: var(--mid-gray-2);
  --color-mid-gray-3: var(--mid-gray-3);
  --color-mid-gray-4: var(--mid-gray-4);
  --color-light-gray-4: var(--light-gray-4);
  --color-light-gray-5: var(--light-gray-5);
  --color-light-blue-dark: var(--light-blue-dark);
}

@theme {
  --breakpoint-xxs: 20rem;
  /* ≈320px */
  --breakpoint-xs: 23.4375rem;
  /* =375px  */

}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-sf);
}


/* @media (min-width: 768px) {
  body {
    font-family: var(--font-baskerville);
  }
} */


/* ==================== Serch Bar ====================== */


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

/* ================= Utilites ======================== */

.text-respo {
  @apply font-bold text-xl md:text-3xl lg:text-4xl
}

.text-respo-24 {
  @apply font-bold text-lg lg:text-2xl
}

.rounded-5 {
  @apply rounded-[5px]
}


.rounded-10 {
  @apply rounded-[10px]
}

.hidden-md-flex {
  @apply hidden md:flex
}

.hidden-lg-flex {
  @apply hidden lg:flex
}

.flex-md-hidden {
  @apply flex md:hidden
}

.flex-lg-hidden {
  @apply flex lg:hidden
}



/* ==================Scroll Bar==================== */
.trending-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  /* vertical */
  height: 4px;
  /* horizontal */
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  /* gray-200 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c6c9cc;
  /* gray-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e525a;
  /* gray-500 */
}

.product-pagination .swiper-pagination-bullet {
  @apply w-2 h-2 bg-gray-400 opacity-100;
}

.product-pagination .swiper-pagination-bullet-active {
  @apply bg-dark-button-blue w-3 h-3;
  ;
}



/* For the icon pops */
@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}



/* ==================== Remove the Spinners ===================== */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/* ==================== Make the Animation Tab ===================== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}